<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>next_level_1</servlet-name>
        <servlet-class>Controllers.next_level_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_user</servlet-name>
        <servlet-class>Controllers.add_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessioncontroller</servlet-name>
        <servlet-class>Controllers.sessioncontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log_out</servlet-name>
        <servlet-class>Controllers.log_out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>next_level_2</servlet-name>
        <servlet-class>Controllers.next_level_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>Controllers.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filtro</servlet-name>
        <servlet-class>Controllers.filtro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>next_level_1</servlet-name>
        <url-pattern>/next_level_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_user</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessioncontroller</servlet-name>
        <url-pattern>/sessioncontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log_out</servlet-name>
        <url-pattern>/log_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>next_level_2</servlet-name>
        <url-pattern>/next_level_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filtro</servlet-name>
        <url-pattern>/filtro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
